<header>
  <div class="site-title">
    <h3><a href="/">MIXTAPES</a></h3>
  </div>
  <div class="site-nav">
    <ul>
      <li>
        <a href="/playlists">PLAYLISTS</a>
      </li>
      <li>
        <a href="/users">USERS</a>
      </li>
      <% if(currentUser) {%>
        <li>
          <a href="/users/<%=currentUser.id%>">MY ACCOUNT</a>
        </li>
        <li>
          <form action="/sessions?_method=DELETE" method="POST" class="logout">
            <a class="logout-button">LOGOUT</a>
          </form>
        </li>
      <% } %>
        <% if(!currentUser) {%>
        <li>
          <a href="/sessions/new">LOGIN</a>
        </li>
        <li>
          <a href="/users/new">REGISTER</a>
        </li>
        <% } %>
      </li>
    </ul>
  </div>
</header>
