<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MIXTAPES</title>
    <% include ./partials/scripts.ejs %>
  </head>
  <body class="vinyl-bg">
    <% include ./partials/nav.ejs %>
    <main>
      <div class="site-intro">
        <h1><strong>MUSIC</strong> EXPRESSES THAT WHICH CANNOT BE SAID</h1>
        <h2>DISCOVER AND CREATE PLAYLISTS TO EXPRESS HOW YOU FEEL</h2><br />
        <% if(!currentUser){ %>
          <a class="intro-button" href="/users/new">JOIN US</a>
        <% } %>
        <% if(currentUser){ %>
          <a class="intro-button" href="/playlists/new">CREATE A PLAYLIST</a>
        <% } %>
      </div>
    </main>
  </body>
</html>
