/* GENERAL STYLING */
* {
  font-family: 'Karla', helvetica;
}
body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
a {
  text-decoration: none;
}
strong {
  color: rgb(102, 221, 170);
}
.site-intro h1, .register-form h1, .login-form h1, .users-index h1, .user-edit-form h1, .show-user h1, .playlists-index h1, .new-playlist-form h1, .edit-playlist-form h1 {
  font-size: 6.5vw;
  letter-spacing: -2px;
  padding: 0;
  margin: 10px 0;
  text-transform: uppercase;
}
/* HEADER/NAV BAR STYLING */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  height: 70px;
  margin-bottom: 7%;
  background: #f9f9f9;
}
.site-title h3 {
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 20%;
  font-size: 26px;
}
.site-title a {
  color: black;
}
.site-nav {
  margin-top: 9px;
  margin-right: 5%;
}
.site-nav ul {
  list-style-type: none;
}
.site-nav li {
  display: inline-block;
  padding: 0 20px 0 0;
}
.site-nav a {
  font-size: 16px;
  color: #888;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 2px;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.site-nav a:after {
  content:'';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.site-nav a:hover:after {
  width: 100%;
  background: rgb(102, 221, 170);
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.site-nav a:hover {
  cursor: pointer;
  transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}
/* LANDING PAGE */
.vinyl-bg {
  background: url('/imgs/vinyl.png') #f9f9f9;
  background-size: 50vh;
  background-position: 100% -100%;
  background-repeat: no-repeat;
}
.site-intro {
  width: 70%;
  margin-left: 5%;
}
.site-intro h2 {
  font-size: 2.2vw;
  letter-spacing: -1px;
  font-style: italic;
  font-weight: 400;
  color: #888;
  padding: 0;
  margin: 10px 0;
}
.intro-button, .register-button, .login-button, .user-edit-button, .new-playlist-button, .edit-playlist-button {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  border: 1px solid #555;
  padding: 10px;
  color: #444;
  border-radius: 5px;
  position: relative;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.intro-button:before, .register-button:before, .login-button:before, .user-edit-button:before, .new-playlist-button:before, .edit-playlist-button:before {
  content: "";
  position: absolute;
  background: rgb(102, 221, 170);
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.intro-button:hover, .register-button:hover, .login-button:hover, .user-edit-button:hover, .new-playlist-button:hover, .edit-playlist-button:hover {
  color: whitesmoke;
  border: 1px solid rgb(102, 221, 170);
  cursor: pointer;
}
.intro-button:hover:before, .register-button:hover:before, .login-button:hover:before, .user-edit-button:hover:before, .new-playlist-button:hover:before, .edit-playlist-button:hover:before {
  right: 0;
}
@media (max-width: 775px) {
  .vinyl-bg {
    background-size: 40vh;
    background-position: 100% -120%;
  }
}
@media (max-width: 700px){
  .vinyl-bg {
    background: #f9f9f9;
  }
  .site-intro {
    width: 100%;
  }
  .site-intro h1 {
    width: 95%;
    font-size: 10vw;
    letter-spacing: -2px;
  }
  .site-intro h2 {
    width: 95%;
    font-size: 4vw;
  }
}
/* REGISTER PAGE & EDIT USER PAGE */
.vinyl-bg-reg {
  background: url('/imgs/vinyl.png') #f9f9f9;
  background-size: 50vh;
  background-position: 100% -300%;
  background-repeat: no-repeat;
}
.register-form, .user-edit-form {
  width: 70%;
  margin-left: 5%;
  margin-top: -6%;
}
.register-form h3, .login h3, .user-edit-form h3, .new-playlist h3, .edit-playlist h3 {
  padding: 0;
  font-size: 2.5vw;
}
.register-form h3:first-of-type, .user-edit-form h3:first-of-type {
  margin: 0;
}
.register-form h3:nth-of-type(2), .login h3, .user-edit-form h3:nth-of-type(2){
  margin: 10px 0;
}
.register-form p, .login-form p, .user-edit-form p {
  margin: 0 0 10px 0;
}
.register-form p:nth-of-type(3), .login-form p:nth-of-type(2), .user-edit-form p:nth-of-type(3), .new-playlist-form p:nth-of-type(2), .edit-playlist-form p:nth-of-type(2) {
  margin: 20px 0;
}
.register-form em, .login-form em, .user-edit-form em, .new-playlist-form em, .edit-playlist-form em{
  color: #888;
  text-transform: uppercase;
  font-size: 1.2vw;
}
.register-form input, .register-form textarea, .login input, .user-edit-form input, .user-edit-form textarea, .new-playlist input, .new-playlist textarea, .edit-playlist input, .edit-playlist textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
}
.register-form textarea, .user-edit-form textarea {
  margin-top: 3px;
  width: 31.5%;
  height: 7vh;
}
.register-form input[placeholder], .register-form textarea[placeholder], .login input[placeholder], .user-edit-form input[placeholder], .new-playlist input[placeholder], .new-playlist textarea[placeholder], .edit-playlist input[placeholder], .edit-playlist textarea[placeholder]{
  text-transform: uppercase;
}
.register-form input[type="text"]:focus,
.register-form input[type="password"]:focus,
.register-form textarea:focus,
.login input[type="text"]:focus,
.login input[type="password"]:focus,
.user-edit-form input[type="text"]:focus,
.user-edit-form input[type="password"]:focus,
.user-edit-form textarea:focus,
.new-playlist-form input[type="text"]:focus,
.new-playlist-form input[type="password"]:focus,
.new-playlist-form textarea:focus,
.edit-playlist-form input[type="text"]:focus,
.edit-playlist-form input[type="password"]:focus,
.edit-playlist-form textarea:focus
 {
  border: 1px solid rgb(102, 221, 170);
  outline: none;
}
.register-form .form-validate, .login-form .form-validate, .user-edit-form .form-validate, .new-playlist-form .form-validate, .edit-playlist-form .form-validate {
  border: 1px solid rgb(239, 103, 93);
}
@media (max-width: 775px) {
  .vinyl-bg-reg {
    background-size: 40vh;
    background-position: 100% -740%;
  }
}
@media (max-width: 700px){
  .vinyl-bg-reg {
    background: #f9f9f9;
  }
  .register-form, .login-form, .user-edit-form, .new-playlist-form, .edit-playlist-form {
    width: 90%;
    text-align: center;
  }
  .register-form h1, .login-form h1, .user-edit-form h1, .new-playlist-form h1, .edit-playlist-form h1 {
    font-size: 8vw;
  }
  .register-form h3, .login-form h3, .user-edit-form h3, .new-playlist-form h3, .edit-playlist-form h3 {
    font-size: 4vw;
  }
  .register-form em, .login-form em, .user-edit-form em, .new-playlist-form em, .edit-playlist-form em {
    font-size: 2vw;
  }
}
/* LOGIN PAGE */
.vinyl-bg-login {
  background: url('/imgs/vinyl.png') #f9f9f9;
  background-size: 50vh;
  background-position: 100% -50%;
  background-repeat: no-repeat;
}
.login-form {
  margin-left: 5%;
}
@media (max-width: 775px) {
  .vinyl-bg-login {
    background-size: 40vh;
    background-position: 100% -740%;
  }
}
@media (max-width: 700px){
  .vinyl-bg-login {
    background: #f9f9f9;
  }
}
/* USERS SHOW PAGE */
.users-index, .playlists-index {
  width: 90%;
  margin-left: 5%;
  margin-top: -5%;
}
.users-index h1:after, .playlists-index h1:after {
  content:'';
  display: block;
  width: 12%;
  height: 10px;
  background: #888;
  margin-top: -0.5%;
}
.users-index-container, .playlists-index-container {
  margin-top: 3%;
}
.users-row, .playlists-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5%;
}
.user-card, .playlists-card {
  width: 30%;
  height: 8vw;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.user-card img, .playlists-card img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.user-stats, .playlists-stats {
  width: 60%;
}
.user-stats a, .playlists-stats a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vh;
  color: #555;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.user-stats a:hover, .playlists-stats a:hover {
  color: rgb(102, 221, 170);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.user-stats em, .playlists-stats em {
  color: #888;
  text-transform: uppercase;
  font-size: 1.9vh;
}
.user-stats em:after, .playlists-stats em:after {
  content:'';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  background: #ccc;
}
.user-stats blockquote, .playlists-stats blockquote {
  width: 100%;
  height: 55%;
  font-size: 2vh;
  padding: 10px;
  margin: 0;
  overflow: auto;
  box-sizing: border-box;
}
@media (max-width: 1084px) {
  .user-card, .playlists-card {
    height: 11vw;
  }
}
@media (max-width: 800px) {
  .user-card, .playlists-card {
    height: 10vw;
  }
  .user-card img, .playlists-card img {
    height: 60px;
    width: 60px;
  }
  .user-stats, .playlists-stats {
    width: 80%;
    margin-left: 3%;
  }
  .user-stats a, .playlists-stats a {
    font-size: 2.4vh;
  }
  .user-stats em, .playlists-stats em {
    font-size: 1.8vh;
  }
  .user-stats blockquote, .playlists-stats blockquote {
    display: none;
  }
}
@media (max-width: 700px) {
  .users-index h1, .playlists-index h1 {
    font-size: 8vh;
  }
  .users-index h1:after, .playlists-index h1:after {
    width: 20%;
  }
  .user-card, .playlists-card {
    width: 27%;
  }
  .user-card img, .playlists-card img {
    display: none;
  }
  .user-stats, .playlists-stats {
    width: 100%;
  }
}
/* SHOW USER PAGE */
.show-user {
  width: 75%;
  margin: -4% auto 4% auto;
}
.show-user-info {
  height: 23vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.show-user-icon {
  width: 30%;
}
.show-user-icon img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.show-user-stats {
  width: 60%;
}
.show-user-stats h1 {
  margin: 0 0 -2% 0;
}
.show-user-stats em {
  text-transform: uppercase;
  font-size: 1.5vw;
  color: #888;
}
.show-user-stats a {
  color: rgb(102, 221, 170);
  font-weight: 700;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.show-user-stats a:hover {
  color: #888;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.show-user-stats form {
  display: inline-block;
}
.show-user-stats blockquote {
  height: 9vw;
  overflow: auto;
  margin: 2% 0;
  font-size: 1.7vw;
  color: #444;
}
.show-user-playlists {
  margin-top: 20px;
  border-top: 1px solid #eee;
}
.show-user-playlists h2 {
  font-size: 3vw;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}
.show-user-playlists h2:after {
  content:'';
  width: 15%;
  height: 0.5vw;
  background: #888;
  display: block;
  margin: 5px 0;
}
.show-user-playlists p {
  margin-bottom: 20px;
}
.user-created-playlists,
.user-liked-playlists {
  width: 100%;
  margin-top: 20px;
}
.user-created-playlists-row,
.user-liked-playlists-row {
  margin-top: 3%;
  height: 16.6vw;
  display: flex;
  justify-content: space-between;
}
.user-created-playlists-card,
.user-liked-playlists-card {
  width: 23.5%;
  height: 100%;
}
.user-created-playlists-card:hover .user-created-playlist-info,
.user-liked-playlists-card:hover .user-liked-playlist-info {
  opacity: 1;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.user-created-playlist-info,
.user-liked-playlist-info {
  opacity: 0;
  width: 100%;
  height: inherit;
  float: left;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.user-created-playlist-info h4,
.user-liked-playlist-info h4 {
  text-transform: uppercase;
  margin: 0;
  font-size: 2.2vw;
  color: #444;
}
.user-created-playlist-info p,
.user-liked-playlist-info p {
  width: 50%;
  height: 52%;
  border-radius: 50%;
  border: 1px solid rgb(102, 221, 170);
  margin: 10% auto;
  text-align: center;
  font-size: 4vw;
  padding-top: 8%;
  box-sizing: border-box;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.user-created-playlist-info p i,
.user-liked-playlist-info p i {
  margin-left: 12%;
}
.user-created-playlist-info p a,
.user-liked-playlist-info p a{
  color: rgb(102, 221, 170);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.user-created-playlist-info p a:hover,
.user-liked-playlist-info p a:hover {
  color: #888;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.user-liked-playlist-info em {
  font-size: 1.3vw;
  text-transform: uppercase;
}
/* PLAYLIST INDEX PAGE */
.filter-playlists-nav {
  margin-top: 20px;
}
.filter-playlists-nav a {
  text-transform: uppercase;
  font-weight: 700;
  color: #888;
  border-bottom: 4px solid transparent;
  margin-right: 10px;
  transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}
.filter-playlists-nav a:first-of-type {
  margin-left: 10px;
}
.filter-playlists-nav a:hover {
  cursor: pointer;
  border-bottom: 4px solid rgb(102, 221, 170);
  transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}
.filter-playlists-nav .is-checked {
  border-bottom: 4px solid rgb(102, 221, 170);
}
.playlists-card {
  margin-bottom: 1.5%;
}
.new-playlist-redirect {
  margin-left: 5%;
  font-size: 2.5vw;
  font-weight: 700;
  color: #888;
}
.new-playlist-redirect a {
  color: rgb(102, 221, 170);
  transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}
.new-playlist-redirect a:hover {
  color: #888;
  transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}
/* CREATE PLAYLIST PAGE & EDIT PLAYLIST PAGE */
.new-playlist-form, .edit-playlist-form {
  margin-left: 5%;
}
.new-playlist-form h3, .edit-playlist-form h3 {
  margin: 0;
}
.new-playlist-form p, .edit-playlist-form p {
  margin: 0 0 10px 0;
}
.new-playlist-form p:nth-of-type(2), .edit-playlist-form p:nth-of-type(2) {
  margin: 0 0 20px 0;
}
.new-playlist textarea, .edit-playlist-form textarea {
  margin-top: 0.5%;
  width: 23vw;
  height: 5vw;
}
