/* GENERAL STYLING */
* {
  font-family: 'Karla', helvetica;
}
body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
a {
  text-decoration: none;
}
/* HEADER/NAV BAR STYLING */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  height: 70px;
  margin-bottom: 7%;
}
.site-title h3 {
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 20%;
  font-size: 26px;
}
.site-title a {
  color: black;
}
.site-nav {
  margin-top: 9px;
  margin-right: 5%;
}
.site-nav ul {
  list-style-type: none;
}
.site-nav li {
  display: inline-block;
  padding: 0 20px 0 0;
}
.site-nav a, .logout-button input {
  font-size: 16px;
  color: #888;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.site-nav a:hover, .logout-button input:hover {
  border-bottom: 3px solid mediumaquamarine;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.logout-button input {
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  background: transparent;
}
/* LANDING PAGE */
.landing-page {
  background: url('/imgs/vinyl.png') #f9f9f9;
  background-size: 50vh;
  background-position: 100% -100%;
  background-repeat: no-repeat;
}
.site-intro {
  width: 70%;
  margin-left: 5%;
}
.site-intro h1 {
  font-size: 6.5vw;
  letter-spacing: -2px;
  padding: 0;
  margin: 10px 0;
}
.site-intro h1 strong {
  color: mediumaquamarine;
}
.site-intro h2 {
  font-size: 2.2vw;
  letter-spacing: -1px;
  font-style: italic;
  font-weight: 400;
  color: #888;
  padding: 0;
  margin: 10px 0;
}
.intro-button {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  border: 1px solid #555;
  padding: 10px;
  color: #444;
  border-radius: 5px;
  position: relative;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.intro-button:before {
  content: "";
  position: absolute;
  background: mediumaquamarine;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
}
.intro-button:hover {
  color: whitesmoke;
  border: 1px solid mediumaquamarine;
}
.intro-button:hover:before {
  right: 0;
}

@media (max-width: 775px) {
  .landing-page {
    background-size: 40vh;
    background-position: 100% -120%;
  }
}

@media (max-width: 700px){
  .landing-page {
    background: #f9f9f9;
  }
  .site-intro {
    width: 100%;
  }
  .site-intro h1 {
    width: 95%;
    font-size: 10vw;
    letter-spacing: -2px;
  }
  .site-intro h2 {
    width: 95%;
    font-size: 4vw;
  }
}
