<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/playlists/<%=playlistId%>" method="POST">
      <input type="text" name="title" placeholder="song title" />
      <input type="text" name="artist" placeholder="song artist" />
      <input type="text" name="link" placeholder="youtube link to song" />
      <input type="text" name="description" placeholder="description of song" />
      <br/>
      <input type="text" name="title" placeholder="song title" />
      <input type="text" name="artist" placeholder="song artist" />
      <input type="text" name="link" placeholder="youtube link to song" />
      <input type="text" name="description" placeholder="description of song" />
      <br />
      <input type="text" name="title" placeholder="song title" />
      <input type="text" name="artist" placeholder="song artist" />
      <input type="text" name="link" placeholder="youtube link to song" />
      <input type="text" name="description" placeholder="description of song" />
      <br />
      <input type="text" name="title" placeholder="song title" />
      <input type="text" name="artist" placeholder="song artist" />
      <input type="text" name="link" placeholder="youtube link to song" />
      <input type="text" name="description" placeholder="description of song" />
      <br />
      <input type="text" name="title" placeholder="song title" />
      <input type="text" name="artist" placeholder="song artist" />
      <input type="text" name="link" placeholder="youtube link to song" />
      <input type="text" name="description" placeholder="description of song" />
      <br />
      <input type="submit" value="add songs" />
    </form>
  </body>
</html>
