<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="text" name="password" placeholder="password" />
      <input type="text" name="displayName" placeholder="display name" />
      <input type="text" name="icon" placeholder="icon" />
      <input type="text" name="description" placeholder="description" />
      <input type="submit" value="create" />
    </form>
  </body>
</html>
